<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="./styles.css?v=5" />
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <title>Lesson Store</title>
</head>

<body>
  <div id="webstore">
    <!-- Banner -->
    <header class="banner">
      <button class="checkout-btn" v-on:click="showCheckout" :disabled="cart.length === 0"
        :class="{ disabled: cart.length === 0 }">
        <span class="fa-solid fa-cart-shopping"></span>
        Checkout ({{ cartItemCount }})
      </button>
    </header>

    <main>
      <!-- Sort Grid-->
      <section v-if="showProduct" class="product-section">
        <div class="sort-controls">
          <label>Sort by:</label>
          <select v-model="sortKey">
            <option value="title">Subject</option>
            <option value="location">Location</option>
            <option value="price">Price</option>
            <option value="availableInventory">Availability</option>
          </select>

          <label>Order:</label>
          <select v-model="sortOrder">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>

        <!-- Product Grid-->
        <div class="product-grid">
          <div v-for="product in sortedProducts" class="product-card">
            <img v-bind:src="product.image" alt="Product Image" class="product-image" />
            <h2>{{ product.title }}</h2>
            <p class="description">{{ product.description }}</p>
            <p class="location">{{ product.location }}</p>
            <p class="price">Price: ${{ product.price }}</p>

            <div class="stock-info">
              <span v-if="itemsLeft(product) === 0" class="out">All out!</span>
              <span v-else-if="itemsLeft(product) <= 3" class="low-stock">Only {{ itemsLeft(product) }} left!</span>
              <span v-else class="available">Available</span>
            </div>

            <div class="rating">
              <span v-for="n in product.rating" class="fa-solid fa-star"></span>
              <span v-for="n in 5 - product.rating" class="fa-regular fa-star"></span>
            </div>

            <button v-if="canAddToCart(product)" class="add-btn" v-on:click="addToCart(product)">
              Add to Cart
            </button>
            <button v-else class="sold-out-btn" disabled>Sold Out</button>
          </div>
        </div>
      </section>

      <!-- Checkout Section -->
      <section v-else class="checkout-section">
        <h2>Checkout</h2>

        <div class="checkout-container">
          <!-- Left part: form-->
          <form class="checkout-form" @submit.prevent="submitForm">
            <label>
              First Name:
              <input v-model.trim="order.firstName" placeholder="Your First Name" />
              <span class="error" v-if="firstNameError">{{ firstNameError }}</span>
            </label>

            <label>
              Last Name:
              <input v-model.trim="order.lastName" placeholder="Your Last Name" />
              <span class="error" v-if="lastNameError">{{ lastNameError }}</span>
            </label>

            <label>
              Phone:
              <input v-model.trim="order.phone" placeholder="Your phone number" />
              <span class="error" v-if="phoneError">{{ phoneError }}</span>
            </label>

            <label>
              <input type="checkbox" id="gift" v-model="order.gift" :true-value="order.sendGift"
                :false-value="order.dontSendGift" />
              Ship as gift?
            </label>

            <div class="radio-group">
              <label><input type="radio" value="Home" v-model="order.method" /> Home</label>
              <label><input type="radio" value="Business" v-model="order.method" /> Business</label>
            </div>

            <div class="checkout-buttons">
              <button type="submit" :disabled="!isFormValid" :class="{ disabled: !isFormValid }">
                Submit Order
              </button>
              <button type="button" v-on:click="showCheckout">Back to Products</button>
            </div>
          </form>

          <!--Right side: Order summary-->
          <div class="order-summary">
            <h3>Order Summary</h3>
            <p><strong>Name:</strong> {{ order.firstName }} {{ order.lastName }}</p>
            <p><strong>Phone:</strong> {{ order.phone }}</p>
            <p><strong>Shipping:</strong> {{ order.method }}</p>
            <p><strong>Gift:</strong> {{ order.gift }}</p>

            <div class="summary-total" v-if="cart.length">
              <h4>Items in Cart: {{ cartItemCount }}</h4>
              <div class="order-item-scroll">
                <div v-for="(id, index) in cart" :key="index" class="order-item">
                  <img :src="products.find(p => p.id === id).image" class="order-item-image" />
                  <div class="order-item-details">
                    <h4>{{ products.find(p => p.id === id).title }}</h4>
                    <p class="description">{{ products.find(p => p.id === id).description }}</p>
                    <p class="location">{{ products.find(p => p.id === id).location }}</p>
                    <p class="price">$ {{ products.find(p => p.id === id).price }}</p>
                  </div>
                  <button class="delete-button" @click="removeFromCart(index)">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </div>
              </div>
              <p><strong>Total: ${{ totalPrice }}</strong></p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>

  <script>
    let products = [
      {
        id: 1001,
        title: "Physics for dummies",
        description: "Learn all the basics and principles of Physics - Easy for beginners.",
        location: "London",
        price: 20.45,
        image: "Assets/physics.png",
        availableInventory: 5,
        rating: 3
      },
      {
        id: 1002,
        title: "Biology 101",
        description: "Discover the secrets of all living beings.",
        location: "Amsterdam",
        price: 49.65,
        image: "Assets/biology.png",
        availableInventory: 5,
        rating: 4
      },
      {
        id: 1003,
        title: "Calculus",
        description: "Maths can be fun at times!",
        location: "Quebec",
        price: 95.99,
        image: "Assets/maths.png",
        availableInventory: 5,
        rating: 5
      },
      {
        id: 1004,
        title: "Le Français",
        description: "Oui-oui baguette!",
        location: "Luxembourg",
        price: 55.99,
        image: "Assets/french.png",
        availableInventory: 5,
        rating: 4
      },
      {
        id: 1005,
        title: "Literature - a lost art.",
        description: "Dive into the fabulous world of literature.",
        location: "London",
        price: 83.99,
        image: "Assets/literature.png",
        availableInventory: 5,
        rating: 3
      },
      {
        id: 1006,
        title: "Chemistry",
        description: "Molotov Cocktail?",
        location: "Paris",
        price: 62.99,
        image: "Assets/chemistry.png",
        availableInventory: 5,
        rating: 2
      },
      {
        id: 1007,
        title: "Art",
        description: "Paint",
        location: "Australia",
        price: 75.99,
        image: "Assets/art.png",
        availableInventory: 5,
        rating: 4
      },
      {
        id: 1008,
        title: "English Language",
        description: "Tomato, To-mah-to",
        location: "England",
        price: 100.00,
        image: "Assets/english.png",
        availableInventory: 5,
        rating: 3
      },
      {
        id: 1009,
        title: "Food Studies",
        description: "What's for dinner?",
        location: "Washington DC",
        price: 55.95,
        image: "Assets/food.png",
        availableInventory: 5,
        rating: 5
      },
      {
        id: 1010,
        title: "Fashion & Couture",
        description: "MK, YSL, GUCCI?",
        location: "Barcelona",
        price: 154.55,
        image: "Assets/fashion.png",
        availableInventory: 5,
        rating: 4
      },
    ]
  </script>
  <!-- Vue Script -->
  <script>
    var webstore = new Vue({
      el: '#webstore',
      data: {
        showProduct: true,
        products: products,
        cart: [],
        sortKey: 'title', //default sorting when page is launched
        sortOrder: 'asc', //default sorting when page is launched
        order: {
          firstName: '',
          lastName: '',
          phone: '',
          method: 'Home',
          gift: 'Do not send as Gift',
          sendGift: 'Send as Gift',
          dontSendGift: 'Do not send as Gift'
        }
      },
      computed: {
        sortedProducts() {
          //copy array to avoir mutating original
          let sorted = [...this.products];

          sorted.sort((a, b) => {
            let key = this.sortKey;

            //convert strings to lowercase for consistent comparison
            let aVal = typeof a[key] === 'string' ? a[key].toLowerCase() : a[key];
            let bVal = typeof b[key] === 'string' ? b[key].toLowerCase() : b[key];

            if (aVal < bVal) return this.sortOrder === 'asc' ? -1 : 1;
            if (aVal > bVal) return this.sortOrder === 'asc' ? 1 : -1;
            return 0;
          });
          return sorted;
        },
        firstNameError() {
          if (!this.order.firstName) return "First name is required";
          if (!/^[A-Za-z\s]+$/.test(this.order.firstName)) return "Only letters allowed";
          return "";
        },
        lastNameError() {
          if (!this.order.lastName) return "Last Name is required";
          if (!/^[A-Za-z\s]+$/.test(this.order.lastName)) return "Only letters allowed";
          return "";
        },
        phoneError() {
          if (!this.order.phone) return "Phone is required";
          if (!/^[0-9]+$/.test(this.order.phone)) return "Only numbers allowed";
          return "";
        },
        isFormValid() {
          return !(
            this.firstNameError ||
            this.lastNameError ||
            this.phoneError
          );
        },
        cartItemCount() {
          return this.cart.length;
        },
        totalPrice() {
          return this.cart.reduce((sum, id) => {
            const product = this.products.find(p => p.id === id);
            return sum + (product ? product.price : 0);
          }, 0).toFixed(2);
        }
      },
      methods: {
        addToCart(product) {
          this.cart.push(product.id);
        },
        cartCount(id) {
          return this.cart.filter(item => item === id).length;
        },
        canAddToCart(product) {
          return product.availableInventory > this.cartCount(product.id);
        },
        itemsLeft(product) {
          return product.availableInventory - this.cartCount(product.id);
        },
        showCheckout() {
          this.showProduct = !this.showProduct;
        },
        removeFromCart(index) {
          this.cart.splice(index, 1);
        },
        submitForm() {
          const namePattern = /^[A-Za-z\\s]+$/;
          const phonePattern = /^[0-9]+$/;

          if (!namePattern.test(this.order.firstName)) {
            alert("❌ Please enter only letters in First Name.");
            return;
          }
          if (!namePattern.test(this.order.lastName)) {
            alert("❌ Please enter only letters in Last Name.");
            return;
          }
          alert(`✅ Thank you, ${this.order.firstName}! Your order has been placed.`);

          // reset everything
          this.order = {
            firstName: "",
            lastName: "",
            phone: "",
            method: "Home",
            gift: "Do not send as Gift",
            sendGift: "Send as Gift",
            dontSendGift: "Do not send as Gift"
          };
          this.cart = [];
          this.showProduct = true;
        }
      }
    });
  </script>
</body>

</html>